<?xml version="1.0" encoding="utf-8"?>

<launch>
 <include file="$(find dQN_modelTraining)/launch/multi_usb_cam.launch"/> 
 <include file="$(find dQN_modelTraining)/launch/rosserial.launch"/>
 <include file="$(find parkingLidar)/launch/rplidar_a2m12.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find missionRacing)/launch/testRacing.rviz" />
    <node name="keyboard_control_node" pkg="dlBasedDrivingV2" type="keyboardControlNode.py" output="screen"/>

    <!-- <node name="transformed_image_publisher" pkg="dlBasedDriving" type="transformedImagePublisher.py" output="screen"/> -->
    <node name="lane_analizer" pkg="missionRacing" type="raceLaneAnalizerV4.py" output="screen"/>
    <node name="crossWalkAnalizer" pkg="missionRacing" type="crossWalkAnalizerV5.py" output="screen"/>
    <node name="decision_node" pkg="missionRacing" type="decisionBasedSensor.py" output="screen"/>
</launch>
